<div class="modal-header">
    <img src="./img/icon-close-modal.png" ng-click="cancel()">
</div>
<div class="modal-body">
  <div class="create_sweebi">
    <div class="form-create">
      <form  name="logForm" ng-submit="logForm.$valid && login()">
                <fieldset>
                    <h3 class="title">To book your room you must login</h3>

                    <div class="line"></div>

                    <div class="form_content">
                        <p class="text" >
                            <span><input type="text" style="color:#000000" name="userId" placeholder="Email" ng-model="email"  ng-pattern="/^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,6}$/" required></span>
                        </p>
                        <p class="text">
                        <span class="logedin" style="color:red;font-weight:bold;"  ng-show='logForm.userId.$error.pattern'>This e-mail is not good</span>
                        </p>
                        <p class="text">
                            <span><input ng-model="password" style="color:#000000" type="password" name="password" placeholder="Password" required></span>
                        </p>

                        <div class="line"></div>

                        <p class="submit">
                            <input type="submit" value="Login to book" ng-show="!isLoging">
                        </p>

                        <button class="btn btn-lg" ng-show="isLoging"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Loading...</button>

                        <span class="logedin" style="color:red;font-weight:bold;" ng-show="!isLoging ">{{errorLogMessage}}</span>

                    </div>
                </fieldset>
            </form>
    </div>
  </div>

</div>
